@import "tailwindcss";

html {
	scroll-behavior: smooth;
}


:root {
	--background: #ffffff;
	--foreground: #171717;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-global: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background-color: white;
	font-family: var(--font-global);
}


#button {
	padding: 12.5px 30px;
	border: 0;
	border-radius: 10px;
	background: linear-gradient(to top, #2B3EA2 0%, #4557BB 100%);
	color: #ffffff;
	font-weight: Bold;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
}

.bg-bt {
	font-weight: Bold;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
	border-radius: 10px;
	background: linear-gradient(to top, #2B3EA2 0%, #4557BB 100%);
}

.bg-bt2 {
	border: 0;
	border-radius: 10px;
	background-color: #E6E8EA;
	color: #191C1E;
	font-weight: Bold;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.bg-bt:hover {
	background: linear-gradient(to top, #2B3EA2 0%, #4557BB 100%);
	box-shadow: 0 0 20px #6fc5ff50;
	transform: scale(1.1);
}

.bg-bt:active {
	/*background-color: #3d94cf;*/
	background: linear-gradient(to top, #2B3EA2 0%, #4557BB 100%);
	transition: all 0.30s;
	-webkit-transition: all 0.25s;
	box-shadow: none;
	transform: scale(0.98);
}


#button1 {
	padding: 12.5px 30px;
	border: 0;
	border-radius: 10px;
	background-color: #E6E8EA;
	color: #191C1E;
	font-weight: Bold;
	cursor: pointer;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
}




.cards .card {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	height: 400px;
	width: 384px;
	border-radius: 10px;
	color: white;
	cursor: pointer;
	transition: 400ms transform, 400ms box-shadow, 400ms background-color;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.cards .card p.tip {
	font-size: 1em;
	font-weight: 700;
}

.cards .card p.second-text {
	font-size: 0.7em;
}

.cards .card:hover {
	transform: scale(1.1);
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
	background-color: rgba(255, 255, 255, 0.1);
	color: #333;
}

.cards:hover>.card:not(:hover) {
	filter: blur(10px);
	transform: scale(0.9);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.side {
	background-image: url('../images/Section (1).png');
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
}

.side2 {
    background-image: url('../images/visual.png'); /* Note the leading slash */
    background-repeat: no-repeat;
    background-size: cover;
    width: 60%;
}

.gradientes {
	background: linear-gradient(to right,
			#c4c7cc 0%,
			#d8d2c8 50%,
			#e8dccb 100%);
}

